<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Livro</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Adicionar Livro</h1>
    <form>
        <label for="nome">Nome do livro:</label>
        <input type="text" id="nome" name="nome"><br>

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required><br>

        <label for="dataInicial">Data de inicio</label>
        <input type="date" id="dataInicial" name="dataInicial" required><br>

        <label for="dataFinal">Data de Fim</label>
        <input type="date" id="dataFinal" name="dataFinal" required><br>

        <input type="submit" value="Adicionar Livro">
    </form>

    <a href="/">Voltar para a Página Inicial</a>
</body>
</html>