<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/style.css">
    <title>PatroCars</title>
</head>
<body>
    <h2>Montadoras</h2>
    <form>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Nome da montadora ..." required><br>

        <label for="autor">País:</label>
        <input type="text" id="pais" name="pais" placeholder="País ..." required><br>

        <label for="ano_publicacao">Ano de Publicação</label>
        <input type="date" id="ano_publicacao" name="ano_publicacao"  placeholder="Ano de publicação ..." required><br>

        <input type="submit" value="Adicionar Montadora">
    </form>
</body>
</html>